body
{
	height: 100%;
	text-align: center;
}

.menu
{
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: navy;
	z-index: 1;
	transition: 1s;
}

.menu_list
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	padding: 0px;
	margin: 0px;
}
 
.menu_list li
{
	padding: 14px 11.5%;
	float: left;
	background-origin: padding-box;
	transition: 0.3s;
}

.menu_list li:hover
{
	background-color: #111;
}

.menu_list a
{
	color: white;
	text-decoration: none;
}

.parallax
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	perspective: 1000px;
	perspective-origin: 50% 50%;
}

.parallax::-webkit-scrollbar {
	display: none;
}

#background
{
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateZ(-9999px) scale(20);
}

.content
{
	min-width: 922px;
    margin-left: auto;
    margin-right: auto;
	padding: 0;
	transform: translateZ(0);
}

.left_content, .right_content, .center_content, .center_in, .center_out, .fill_content
{
	background-size: 100%;
	min-height: 1000px;
	text-align: left;
}

.left_content, .right_content
{
	padding-top: 25%;
	padding-bottom: 0px;
	background-size: 130% 100%;
	background-repeat: no-repeat;
}

.left_content
{
	background-image: url("../../images/BackgroundLExtended.png");
	padding-left: 100px;
	padding-right: 60%;
}

.right_content
{
	background-image: url("../../images/BackgroundRExtended.png");
	background-position: right top;
	padding-left: 60%;
	padding-right: 100px;
}

.fill_content
{
	background-color: #0d2245;
	height: 100%;
}

.center_content, .center_in, .center_out
{
	padding-top: 1px;
	padding-bottom: 10px;
}

.center_content
{
	background-image: url("../../images/BackgroundC.png");
	padding-left: 30%;
	padding-right: 30%;
	background-repeat: repeat-y;
}

.center_in
{
	background-position: bottom;
	background-image: url("../../images/BackgroundCTransition.png");
}

.center_out
{
	background-position: bottom;
	background-image: url("../../images/BackgroundCTransition.png");
	transform: rotate(180deg);
}

h1, h2, h3, h4
{
	text-align: center;
}