body
{
	margin: 0;
	overflow: auto;
}


.background
{
	content: url(https://i.imgur.com/QZAj8bz.jpeg);
	width: 100%;
}

.point
{
	content: url(Point.png);
	position: absolute;
}

#store_point
{
	width: 5%;
	left: 66%;
}