body
{
	margin: 0;
	overflow: auto;
}


.background
{
	content: url(https://i.imgur.com/QZAj8bz.jpeg);
	width: 100%;
}

.point
{
	content: url(../../images/Point.png);
	position: absolute;
	width: 5%;
	opacity: 0.8;
}